body
{
    background-color: rgb(5, 95, 27);
}
#india
{
    width: 900px;
    height: 530px;
}
#indiatag 
{
    font-size: 30px;
    color: rgb(5, 95, 27);
    width: 30%;
    margin: 0px;
    box-shadow: 7px 7px 7px #09278b;
    font-family: 'Pacifico', cursive;
}