body
{
    background-color: rgb(84, 6, 6);
}
#japan
{
    width: 900px;
    height: 530px;
}
#japantag 
{
    font-size: 30px;
    color: rgb(84, 6, 6);
    width: 30%;
    margin: 0px;
    box-shadow: 7px 7px 7px #09278b;
    font-family: 'Pacifico', cursive;
}